.inter-font {
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

.white-color {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 150px;
    background: #1A0B2E;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
}

.logo span {
    background: linear-gradient(90deg, #ff4d9e, #a347ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: lawngreen;
}

.btn-subscribe {
    background: linear-gradient(90deg, #ffd700, #ff4d9e, #a347ff);
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 50px;
    font-weight: 600;
    display: inline-block;
    transition: transform 0.5s ease;
}

.btn-subscribe:hover {
    transform: translateX(20px);
}

#nav-check,
.nav-btn {
    display: none;
}

/* Hero/Baner-Section */
.hero-section {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f021f url('../images/hero-bg.png') no-repeat center top;
    background-size: cover;
    text-align: center;
    padding: 0 20px 40px;
    box-sizing: border-box;
}

.hero-container {
    max-width: 800px;
    width: 100%;
}

.podcast-display {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}

.circle-img {
    width: 280px;
    height: auto;
    padding-top: 100px;
}

.mic-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
}

.badge-new {
    position: absolute;
    top: 125px;
    right: -10px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 255, 136, 0.6);
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-desc {
    color: #d1d1d1;
    max-width: 500px;
    margin: 0 auto 35px;
    line-height: 1.5;
}

.hero-btns {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    gap: 10px;
    transition: 0.3s;
    white-space: nowrap;
}

.btn-icon {
    width: 20px;
    height: auto;
    object-fit: contain;
}

.btn-spotify {
    background: linear-gradient(90deg, #ffed4a, #ff00cc, #a347ff);
    color: #fff;
    transition: transform 0.5s ease;
}

.btn-subscribe2 {
    border: 2px solid #00FF88;
    padding: 12px 20px;
    color: #00FF88;
    display: flex;
    transition: transform 0.5s ease;
}

.btn-subscribe2:hover,
.btn-spotify:hover {
    transform: translateX(5px);
}

/* About Section */
.about-section {
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
}

.about-podcast {
    text-align: center;
}

.about-podcast .section-heading {
    font-size: 3em;
    padding-bottom: 16px;
}

.about-podcast p {
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 1.8em;
}

.about-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 60px 0px;
}

.podcast {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    text-align: center;
}

.podcast>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.podcast>div>h2 {
    font-size: 3em;
    color: #00FF88;
}

/*why choose section*/
.why-choose-section {
    padding: 120px 200px;
    background-color: #230E3D;
}

.why-choose-section h2 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 40px;
}

.why-choose-container div {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.why-choose-container div h3 {
    padding: 16px 0px;
}

.why-choose-container div p {
    font-size: 16px;
    color: white;
    opacity: 60%;
    line-height: 24px;
}

.headphone {
    grid-area: headphone;
}

.device {
    grid-area: device;
}

.location {
    grid-area: location;
}

.exclusive {
    grid-area: exclusive;
}

.rich {
    grid-area: rich;
}

.why-choose-container {
    padding-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-areas:
        "headphone device device"
        "headphone location location"
        "exclusive exclusive rich"
}

.icon-image {
    height: 50px;
}

.headphone,
.device,
.location,
.exclusive,
.rich {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.headphone:hover,
.device:hover,
.location:hover,
.exclusive:hover,
.rich:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 3);
}

/*featured-section*/
.featured-section {
    background-color: #1A0B2E;
    padding: 120px 150px;
}

.featured-section-heading,
.host-section-heading {
    font-size: 3em;
    text-align: center;
    padding-bottom: 40px;
}

.vedio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    overflow: hidden;
}

.vedio-box {
    background-color: #250D44;
    padding: 24px 24px;
    border-radius: 24px;
    flex: 1;
    min-width: 0;
    gap: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vedio-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 3);
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.vedio-title {
    font-size: 24px;
    padding-top: 24px;
}

.vedio-box p {
    margin: 12px auto;
    font-size: 1em;
    line-height: 24px;
    opacity: 60%;
}

.watching-time {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 500;
}

.watching-time i {
    font-size: 18px;
}

/*host-section*/
.host-section {
    background-color: #1A0B2E;
    padding: 0px 150px 12px 150px;
}

.host-container {
    background-color: #351165;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
}

.host-name {
    font-size: 2em;
}

.host-details {
    font-size: 1em;
    line-height: 1.5em;
    opacity: 60%;
    margin: 16px 0px;
}

.host-link {
    display: flex;
    gap: 8px;
}

.host-link a {
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.host-link a img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

.host-link a:hover {
    border-color: #00ff88;
    transform: translateY(-5px);
}

/* footer section*/
.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-image: url('../images/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    min-height: 350px;
    width: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: 800;
}

.footer-logo span {
    background: linear-gradient(90deg, #ff4d9e, #a347ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-section-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-link {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0 60px 0;
}

.footer-link a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-link a:hover {
    transform: translateY(5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0, 3);
}

.footer-paragraph {
    display: flex;
    justify-content: center;
}






@media screen and (max-width: 576px) {
    .navbar {
        padding: 16px 30px;
        /* gap: 50px; */
    }

    .nav-btn {
        display: flex;
        justify-content: space-between;
    }

    .nav-btn img {
        width: 28px;
        height: auto;
    }

    .btn-subscribe {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: #1A0B2E;
        flex-direction: column;
        align-items:flex-end;
        padding: 0px 20px 0 0;
        display: none;
    }

    #nav-check:checked~.nav-links {
        display: flex;
    }

    .hero-section {
        min-height: auto;
        margin-top: 0;
        padding-top: 0;
        background: #1A0B2E url('../images/hero-bg.png') no-repeat center top;
        background-position: center top -12%;
        background-size: 140% 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .circle-img {
        width: 180px;
    }

    .podcast-display {
        margin-top: -30px;
    }

    .hero-title {
        font-size: 2.2rem;
    }

    .hero-btns {
        flex-direction: row;
        width: 100%;
    }

    .btn {
        flex: 1;
        padding: 10px 5px;
        font-size: 16px;
    }

    .mic-icon {
        top: 65%;
        width: 55px;
    }

    .btn-spotify {
        justify-content: center;
    }

    .btn-subscribe2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .badge-new {
        top: 110px;
        right: -30px;
    }

    .about-section {
        padding: 40px 20px;
    }

    .about-divider {
        margin: 40px 0;
    }

    .podcast {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .podcast div {
        flex: 0 0 calc(50% - 40px);
        text-align: center;
    }

    .why-choose-section {
        padding: 40px 20px;
    }

    .why-choose-section h2 {
        font-size: 2.5em;
        text-align: center;
        padding-bottom: 16px;
    }

    .why-choose-container {
        padding-top: 20px;
        display: grid;
        gap: 20px;
        grid-template-areas:
            "headphone"
            "device"
            "location"
            "exclusive"
            "rich";
    }

    .featured-section {
        padding: 40px 20px;
    }

    .vedio-container {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 100%;
        overflow: hidden;
    }

    .host-section {
        padding: 20px 20px 40px 20px;
    }

    .host-container {
        padding: 24px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 50px;
    }

    .about-host,
    .host-name-p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .host-name-p p {
        text-align: center;
    }

    .footer-section {
        min-height: 0;
    }

    .footer-logo {
        font-size: 2.5rem;
        font-weight: 800;
        padding-top: 40px;
    }

    .footer-link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 16px;
        justify-content: center;
        justify-items: center;
        margin-bottom: -30px;
    }

    .footer-paragraph {
        margin-bottom: 30px;
    }
}