.inter-font {
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

.white-color {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 150px;
    background: #1A0B2E;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
}

.logo span {
    background: linear-gradient(90deg, #ff4d9e, #a347ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: lawngreen;
}

.btn-subscribe {
    background: linear-gradient(90deg, #ffd700, #ff4d9e, #a347ff);
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 50px;
    font-weight: 600;
    display: inline-block;
    transition: transform 0.5s ease;
}

.btn-subscribe:hover {
    transform: translateX(20px);
}

#nav-check,
.nav-btn {
    display: none;
}

/* Hero/Baner-Section */
.hero-section {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f021f url('../images/hero-bg.png') no-repeat center top;
    background-size: cover;
    text-align: center;
    padding: 0 20px 40px;
    box-sizing: border-box;
}

.hero-container {
    max-width: 800px;
    width: 100%;
}

.podcast-display {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}

.circle-img {
    width: 280px;
    height: auto;
    padding-top: 100px;
}

.mic-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
}

.badge-new {
    position: absolute;
    top: 125px;
    right: -10px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 255, 136, 0.6);
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-desc {
    color: #d1d1d1;
    max-width: 500px;
    margin: 0 auto 35px;
    line-height: 1.5;
}

.hero-btns {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    gap: 10px;
    transition: 0.3s;
    white-space: nowrap;
}

.btn-icon {
    width: 20px;
    height: auto;
    object-fit: contain;
}

.btn-spotify {
    background: linear-gradient(90deg, #ffed4a, #ff00cc, #a347ff);
    color: #fff;
    transition: transform 0.5s ease;
}

.btn-subscribe2 {
    border: 2px solid #00FF88;
    padding: 12px 20px;
    color: #00FF88;
    display: inline-block;
    transition: transform 0.5s ease;
}

.btn-subscribe2:hover,
.btn-spotify:hover {
    transform: translateX(5px);
}